<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ServerTest.Properties.Settings.restConnectionString"
            connectionString="User Id=root;Password=Kappa2012;Host=localhost;Database=rest;Persist Security Info=True;Character Set=utf8mb4"
            providerName="Devart.Data.MySql" />
        <add name="ServerTest.Properties.Settings.restConnectionString1"
            connectionString="User Id=root;Password=Kappa2012;Host=localhost;Database=rest;Persist Security Info=True;Character Set=utf8"
            providerName="Devart.Data.MySql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>